body{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    min-height: 100vh;
    
}

.form-container{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 600px;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin:auto;
    box-shadow: 2px 2px 10px 5px gray;
    padding: 2rem 0;
    border-radius: 4px;
}

label{
    opacity: 60%;
}

form{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 80%;
}

small{
    display: none;
}

label{
    margin-top: 20px;
}

input{
    height: 1.7rem;
    border: 2px lightgray solid;
    border-radius: 5px;
}

button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: 1px blue solid;
    border-radius: 5px;
}

.valid{
    border-color: lightgreen;
}

.error{
    border-color: red;
    color: red;
}




